* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: whitesmoke;
  color: #111;
  width: 100%;
}

.navbar {
  background-color: #0f172a;
  padding: 15px;
  text-align: center;
}

.navbar a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin: 0 15px;
}

.hero {
  width: 100%;
  background-color: whitesmoke;
  padding: 40px 20px;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.hero-image img {
  width: 300px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hero-text {
  max-width: 800px;
}

.hero-text h2 {
  font-size: 2rem;
  color: #444;
}

.hero-text h1 {
  font-size: 2.8rem;
  font-weight: 900;
  color: #7f1d1d;
}

.hero-text h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 10px;
  color: #444;
}

.tagline {
  font-style: italic;
  color: #6b7280;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1rem;
  line-height: 1.7;
  margin-top: 20px;
}

.links {
  margin-top: 20px;
  font-size: 1rem;
}

.links a {
  color: #3b82f6;
  text-decoration: none;
  margin: 0 5px;
  font-weight: bold;
}

nav a:hover {
  color: #60a5fa;
}

/*  */

section h2 {
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #7f1d1d;
  text-align: left;      /* Aligns the title to the left */
  width: 80%;            /* Matches the card width for alignment */
  margin-left: auto;
  margin-right: auto;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.education-header,
.timeline-item,
.research-header,
.publications-items,
.achievement {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.education-section,
.experience-timeline,
#research,
#publications,
.achievement-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-item h5 {
  font-size: 1.2rem;
  color: black;
}

.timeline-item .timeline-date,
.date {
  font-size: 0.9rem;
  color: #6b7280;
  margin-bottom: 10px;
}

.org {
  font-size: 1 rem;
  color: brown;
  margin-bottom: 10px;
}


footer {
  background: #1f1f1f;
  text-align: center;
  padding: 20px;
  color: white;
}